.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header-menu {
    margin-left: 800px;
}

.gym-icon {
    color: rgb(105, 179, 226);
    font-size: 30px;
}



.header h1 {
    color: #fff;
}

.header a {
    text-decoration: none;
    margin-left: 36px;
    color: #fff;
    font-size: 17px;
    transition: .4s;
}

.header a:hover {
    color: tomato;
}