.player-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cart-container {
    background-color: #054169;
}

.cart-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.cart-container h3 {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 0;
}

.cart-container p {
    margin-top: 8px;
    color: #fff;
}


@media screen and (max-width:400px) {
    .players-container {
        grid-template-columns: repeat(1, 1fr);
    }
}